<h1>FAQ</h1>
<ul>
	<li>
		<b>whats your name</b> my name is elias
	</li>
	<li>
		<b>how old are you</b> I am 28 years old
	</li>
	<li>
		<b>do you have any sibling</b> I have just one brother
	</li>
</ul>
